header {
    background-color: hsl(0, 0%, 98%);
    position: fixed;
    top: 0;
    width: 100%;
}

.NavHeader {
    padding: 1.5rem 2rem;
}

@media(max-width: 64rem) {
    .NavHeader {
        padding: 1rem 1rem;
    }
}

.logo {
    margin-right: 3.5rem;
}

nav {
    display: flex;
}

nav a {
    margin-right: 2rem;
}

nav a:visited, nav a:link {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

nav a:hover, nav a:active {
    text-decoration: none;
    color: hsl(0, 0%, 8%)
}

.NavItems {
    display: flex;
}

@media(max-width: 64rem) {
    .NavHeader > .NavItems, .NavHeader > .userItems {
        display: none;
    }
}

.NavItem a * {
    margin-left: 0.375rem;
    vertical-align: middle;
}

.userItems, .menuButton {
    margin-left: auto;
}

.menuButton {
    z-index: 99;
}

@media(min-width: 64rem) {
    .menuButton {
        display: none;
    }
}