nav {
    display: flex;
}

.logo {
    margin-right: 3.5rem;
}

nav a {
    margin-right: 2rem;
}

.navItems {
    display: flex;
}

.navItem a:visited, a:link {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.navItem a:hover, a:active {
    text-decoration: none;
    color: hsl(0, 0%, 8%)
}

.userItems {
    margin-left: auto;
}