main {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

@media(min-width: 64rem) {
    main {
        flex-direction: row;
        padding: 4rem 7rem;
    }
}

img {
    max-width: 100%;
}

@media(max-width: 64rem) {
    picture {
        margin: 1rem -2rem;
    }
}

h1 {
    font-size: 5rem;
    color: hsl(0, 0%, 8%);
}

p {
    font-size: 1.125rem;
    color: hsl(0, 0%, 41%);
    width: 70%;
}

.btn-outline, .btn-solid:hover {
    border: 0.125rem solid hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    border-radius: 1rem;
    color: hsl(0, 0%, 41%);
    padding: 0.8rem 1.3rem;
    max-width: fit-content;
}

.btn-solid {
    border: 0.125rem solid hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 8%);
    border-radius: 1rem;
    color: hsl(0, 0%, 98%);
    padding: 0.8rem 1.3rem;
    max-width: fit-content;
}